北京时间：{{remote_time.DATA}}
当地时间：{{local_time.DATA}}

今日天气：
   - {{city1_name.DATA}}：{{city1_weather.DATA}}
   - {{city2_name.DATA}}：{{city2_weather.DATA}}

空气质量：
   - {{city1_name.DATA}}：{{city1_aqi.DATA}}
   - {{city2_name.DATA}}：{{city2_aqi.DATA}}

留言：{{plus_sentence.DATA}}
